<div class="bg-green-500 py-4 w-full">
  <div class="max-w-screen-lg mx-auto text-center sm:text-left sm:flex sm:justify-between items-center px-4">
    <h1 class="font-bold text-xl mb-2 mb:mb-0">🍵 11tea</h1>
    <nav>
      <a href="#" class="font-medium px-3 py-2 hover:bg-green-600 hover:text-white rounded">About</a>
      <a href="#" class="font-medium px-3 py-2 hover:bg-green-600 hover:text-white rounded">Features</a>
      <a class="font-medium px-3 py-2 mb:-mr-2 hover:bg-green-600 hover:text-white rounded" href="https://github.com/halfmage/11tea" target="_blank">Github</a>
    </nav>
  </div>
</div>