<div class="bg-primary-600 text-primary-50 py-4 w-full">
  <div class="max-w-screen-lg mx-auto text-center sm:text-left sm:flex sm:justify-between items-center px-4">
    <h1 class="font-bold text-xl mb-2 mb:mb-0">🍵 11tea</h1>
    <nav>
      <a href="#about" class="font-medium px-4 py-2 hover:bg-primary-700 hover:text-white rounded-full transition-colors duration-100">About</a>
      <a href="#features" class="font-medium px-4 py-2 hover:bg-primary-700 hover:text-white rounded-full transition-colors duration-100">Features</a>
      <a class="font-medium px-4 py-2 mb:-mr-2 hover:bg-primary-700 hover:text-white rounded-full transition-colors duration-100" href="https://github.com/halfmage/11tea" target="_blank">Github</a>
    </nav>
  </div>
</div>