---
title: Default
---

<!DOCTYPE html>
<html lang="{{ meta.lang }}" class="bg-white antialiased">
  <head>
    <title>
      {{settings.title}} - {{title}}
    </title>
    
    <meta charset="UTF-8"/>
    <meta name="description" content="{{meta.description}}"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
    <script async src="/js/alpine.js?v={% version %}"></script>
    {% include "meta.njk" %}
  </head>

  <body class="m-16">
    {{ content | safe }}
  </body>

</html>