<div class="bg-green-100 py-8 md:py-16 w-full">
  <div class="max-w-screen-lg mx-auto text-center px-4">
    <h3 class="text-lg md:text-2xl mb-8 max-w-screen-md mx-auto">11tea (Eleventea) is a ready-to-go starter to make website using <a class="underline hover:text-green-700" href="https://www.11ty.dev" target="_blank">Eleventy</a>, <a class="underline hover:text-green-700" href="https://tailwindcss.com" target="_blank">Tailwind CSS</a>, and <a class="underline hover:text-green-700" href="https://github.com/alpinejs/alpine" target="_blank">Alpine</a> which, all together are forming the new fancy TEA-Stack. Have some tea!</h3>
    <a
      class="px-4 py-3 bg-green-600 text-white rounded font-medium inline-block"
      href="https://github.com/halfmage/11tea">
        How to use
    </a>
    <a
      class="px-4 py-3 bg-green-200 text-green-900 rounded font-medium inline-block ml-2"
      href="https://github.com/halfmage/11tea">
        Documentation
    </a>
  </div>
</div>