---
layout: base
title: Homepage
permalink: /
---


<div class="w-screen h-screen flex items-center justify-center">
  {% image "img/teapot2.jpg", "teapot", "object-cover w-1/2 h-1/2 m-auto shadow-lg" %}
</div>
