---
layout: base
title: Homepage
permalink: /
---

<div class="">
  <div>
    <h1>{{title}}</h1>
    <a href="/about">About</a>
    <img class="max-w-md" src="/assets/images/wallpaper.jpg" alt="Wallpaper">
  </div>
</div>