---
title: Default
---

<!DOCTYPE html>
<html lang="{{ meta.lang }}" class="bg-white antialiased">
  <head>
    <title>
      {{meta.title}} - {{title}}
    </title>
    
    <meta charset="UTF-8"/>
    <meta name="description" content="{{meta.description}}"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    
    <link rel="stylesheet" href="style.css"/>
    <script  src="/js/alpine.js" async></script>
    {% include "meta.njk" %}
  </head>

  <body class="text-primary-900 bg-primary-50">
    {% include "../includes/header.njk" %}
    {{ content | safe }}
    {% include "../includes/footer.njk" %}

    <script type="module" async>
      import Lazyload from "https://cdn.skypack.dev/vanilla-lazyload";
      const lazyload = new Lazyload();
    </script>
  </body>

</html>